*{	margin:0 auto;
	padding:0;
	box-sizing: border-box;
	font-family:'Open Sans', sans-serif;
}
/*====================== MENU SUPERIOR =========================*/
#menu{
	background-color:black;
}
#menu ul{
	max-width:800px;
	padding:0;
}
#menu ul li{
	display: inline;
}
#menu ul li a{
	color: #fff;
	padding:20px;
	display: inline-block;
	text-decoration: none;
	transition: background .4s;
}
#menu ul li a:hover{
	background-color:rgb(24,139,233);
}
#menu ul li:last-child a{
	float: right;
	background-color: rgb(24,139,233);
}
/*============================================================*/
